.u-section-1 .u-sheet-1 {
  min-height: 579px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 209px;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  width: 407px;
  margin: 138px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}html, body {margin: 0; height: 100%; overflow: hidden;
    -moz-transform: scale(0.75, 0.75); /* Moz-browsers */
    zoom: 0.95; /* Other non-webkit browsers */
    zoom: 95%; /* Webkit browsers */
}